* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://imgs.search.brave.com/lZtlIMiL9cMz0PMRSLaER6hn55wALCwpzEkHeZvOzos/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC9ScUdaTUdZ/LmpwZw') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow: hidden;
}

.container {
    perspective: 1000px;
}

.flip-card {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.2); /* Slight opacity */
    backdrop-filter: blur(15px); /* Blur effect for the background */
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.input-icon {
    position: relative;
    margin-bottom: 15px;
}

.input-icon input {
    width: 100%;
    padding: 12px 15px 12px 40px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}

.input-icon input:focus {
    background: rgba(255, 255, 255, 0.4);
}

.input-icon i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: opacity 0.3s ease;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
